
<%= render 'shared/navbar' %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.pexels.com/photos/699622/wine-glasses-drink-alcohol-699622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
  <div class="first"><button type="button" class="javabutton" onclick="smoothScroll(document.getElementById('second'))"><h1>RAISE THE SPIRITS</h1></button></div>
 </div>
  </div>




 <div class="second" id="second">

<div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>');">
            <div class="card-bar">
              <div class="card-category"><%= cocktail.name %>
              </div>
              <div class="card-description">
                <%=link_to cocktail_path(cocktail), class:"more" do%>
                <i class="fas fa-cocktail"></i>
                <% end %>
                <%=link_to cocktail_path(cocktail), method: :delete,
                data: { confirm: "Are you sure?" }, class:"more" do%><i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
 </div>


