show.html.erb
<h2><%= @cocktail.name %></h2>


<% @doses.each do |dose| %>
  <p><%= dose.description %> - <%= dose.ingredient[:name] %>
 <%= link_to "delete", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
<% end %>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Home", root_path %>
